.searchPanel {
    margin: 2px;
    border: 1px solid;
    padding: 2px;
    font-size: 16px;
}


    
.headerPanel{
    color: #333399;
    font-size: 40px;
    margin: 2px;
    padding: 2px;
    background-color: #cccccc;
}

.mainPanel{
    color: black;
    font-size: 16px;
    margin: 2px;
    
    border: 1px solid;
    padding: 2px;
}
